* {
  margin: 0;
  padding: 0;
}

body, html {
  background: #f9f9f9;
}

li {
  list-style: none;
}

img {
  display: block;
}

.top {
  width: 100%;
  height: 30px;
  background: #f2f2f2;
  font-size: 12px;
  color: #666666;
  line-height: 30px;
}
.top .top_right {
  float: right;
  margin-right: 115px;
}
.top .top_right ul li {
  float: left;
  margin: 0 15px;
  display: block;
}
.top .top_right ul li a {
  color: #222222;
  text-decoration: none;
}
.top .top_right .h {
  cursor: pointer;
}

.mlogo {
  width: 100%;
  height: 130px;
}
.mlogo .img1 {
  float: left;
  margin-left: 115px;
  margin-top: 30px;
}
.mlogo .ts {
  width: 490px;
  height: 40px;
  float: left;
  margin-left: 295px;
  margin-top: 50px;
}
.mlogo .ts .txt {
  width: 390px;
  height: 30px;
  border: solid 2px #fa4a98;
  float: left;
  outline: none;
}
.mlogo .ts .sub {
  width: 90px;
  height: 30px;
  float: left;
  border: 2px solid #fa4a98;
  text-align: center;
  line-height: 30px;
  color: #fff3e3;
  background: #fa4488;
  cursor: pointer;
}
.mlogo .mlogo_r {
  float: right;
  margin-right: 80px;
  margin-top: 50px;
  cursor: pointer;
}
.mlogo .mlogo_r img {
  float: left;
}
.mlogo .mlogo_r p {
  display: block;
  float: left;
  width: 105px;
  height: 32px;
  border: 1px solid #e5e5e5;
  border-left: 0px;
  font-size: 12px;
  color: #4f4f4f;
  text-align: center;
  line-height: 32px;
}

.nav {
  height: 50px;
  width: 100%;
  background: #ff3893;
}
.nav .classify ul {
  display: block;
  margin-left: 367px;
}
.nav .classify ul li {
  display: block;
  width: 100px;
  height: 50px;
  float: left;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  cursor: pointer;
}
.nav .classify ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

.nav_bar {
  position: absolute;
  left: 115px;
  top: 157px;
  z-index: 99;
}
.nav_bar .select {
  width: 230px;
  height: 56px;
  background: #fc3c96;
  float: left;
  font-size: 20px;
  color: #ffffff;
  line-height: 56px;
  padding-left: 22px;
  cursor: pointer;
}
.nav_bar .bar_left {
  width: 240px;
  height: 611px;
  background: white;
  padding-left: 12px;
  position: absolute;
  top: 56px;
  left: 0;
  display: none;
}
.nav_bar .bar_left dl {
  width: 196px;
  height: 70px;
  border-bottom: dashed 2px #d1d1d1;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
}
.nav_bar .bar_left .q {
  border-bottom: none;
}
.nav_bar .bar_left dt {
  font-size: 13px;
  color: #fb60ba;
  margin-top: 5px;
  margin-bottom: 5px;
}
.nav_bar .bar_left dd {
  font-size: 11px;
  color: #666666;
  float: left;
  line-height: 23px;
  margin-right: 7px;
}
.nav_bar .bar_right {
  width: 590px;
  height: 606px;
  background: white;
  position: absolute;
  top: 5px;
  left: 230px;
  display: none;
}
.nav_bar .bar_right .ll {
  width: 210px;
  height: 611px;
  float: left;
  padding-left: 40px;
  padding-right: 30px;
}
.nav_bar .bar_right .ll div {
  margin-top: 20px;
}
.nav_bar .bar_right .rr {
  width: 210px;
  height: 611px;
  float: left;
  padding-left: 50px;
}
.nav_bar .bar_right .rr div {
  margin-top: 20px;
}
.nav_bar .bar_right h3 {
  font-size: 14px;
  margin-bottom: 10px;
}
.nav_bar .bar_right ul {
  margin-top: 10px;
}
.nav_bar .bar_right ul li {
  font-size: 12px;
  color: #666666;
  display: block;
  line-height: 20px;
}

.glass {
  width: 100%;
  height: 610px;
  margin-top: 66px;
}
.glass .glass_cen {
  width: 1065px;
  height: 610px;
  margin: 0 auto;
}
.glass .glass_cen .cen_left {
  width: 425px;
  height: 610px;
  float: left;
}
.glass .glass_cen .cen_left .img_top {
  width: 400px;
  height: 400px;
  cursor: move;
  position: relative;
}
.glass .glass_cen .cen_left .img_top .mask {
  width: 400px;
  height: 400px;
  background: blue;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 2;
}
.glass .glass_cen .cen_left .img_top .move {
  width: 200px;
  height: 200px;
  background: #AAAAAA;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  display: none;
}
.glass .glass_cen .cen_left .img_top img {
  width: 400px;
  height: 400px;
  position: absolute;
}
.glass .glass_cen .cen_left .img_bottom li {
  float: left;
  margin-top: 35px;
  margin-right: 10px;
}
.glass .glass_cen .cen_left .img_bottom li img {
  width: 72px;
  height: 72px;
}
.glass .glass_cen .cen_left .bigimg {
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: absolute;
  left: 600px;
  top: 276px;
  display: none;
}
.glass .glass_cen .cen_left .bigimg img {
  position: absolute;
  left: 0;
  top: 0;
}
.glass .glass_cen .cen_right {
  width: 620px;
  height: 610px;
  float: left;
  padding-left: 20px;
}
.glass .glass_cen .cen_right .tt {
  font-size: 12px;
  color: #a9a29d;
}
.glass .glass_cen .cen_right .ul .bs {
  font-size: 18px;
  color: #ff3893;
}
.glass .glass_cen .cen_right .ul li {
  font-size: 18px;
  color: #666666;
  float: left;
  margin-right: 20px;
  margin-top: 15px;
}
.glass .glass_cen .cen_right .jj {
  width: 580px;
  font-size: 13px;
  color: #666666;
  line-height: 27px;
  margin-top: 60px;
}
.glass .glass_cen .cen_right .jg {
  width: 550px;
  height: 70px;
  background: #ffcaca;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 15px;
  line-height: 70px;
  padding-left: 20px;
}
.glass .glass_cen .cen_right .jg h3 {
  font-size: 22px;
  color: #ff4a49;
  margin-right: 135px;
}
.glass .glass_cen .cen_right .jg li {
  float: left;
}
.glass .glass_cen .cen_right .kx {
  width: 580px;
  height: 110px;
  font-size: 18px;
  color: #808080;
  line-height: 110px;
}
.glass .glass_cen .cen_right .kx li {
  float: left;
}
.glass .glass_cen .cen_right .kx li img {
  width: 55px;
  height: 55px;
  margin-top: 30px;
  margin-left: 45px;
}
.glass .glass_cen .cen_right input {
  width: 220px;
  height: 70px;
  background: #ff4a49;
  border: 0;
  font-size: 36px;
  color: white;
  margin-left: 60px;
  margin-top: 35px;
}

.details {
  padding-left: 300px;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 10px solid #ec0871;
}

.scroll_left {
  position: fixed;
  bottom: 135px;
  display: none;
}

.scroll_right {
  width: 43px;
  height: 215px;
  position: fixed;
  bottom: 135px;
  right: 5px;
  font-size: 12px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  background: #ffffff;
  display: none;
}
.scroll_right ul li {
  display: block;
  text-align: -webkit-center;
  margin-top: 5px;
  cursor: pointer;
}
.scroll_right ul .b {
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

.base .base_cen {
  overflow: hidden;
  width: 100%;
  height: 580px;
  border-top: 2px solid #e5e5e5;
}
.base .base_cen .cen_one {
  width: 1100px;
  height: 138px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 23px;
  border-bottom: 1px solid #e5e5e5;
}
.base .base_cen .cen_one li {
  float: left;
  margin-left: 60px;
  margin-right: 50px;
  text-align: -webkit-center;
}
.base .base_cen .cen_one li h3 {
  font-size: 14px;
  margin-top: 5px;
  line-height: 25px;
}
.base .base_cen .cen_one li p {
  font-size: 12px;
  color: #999999;
}
.base .base_cen .cen_two {
  width: 1100px;
  height: 186px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 23px;
  border-bottom: 1px solid #e5e5e5;
}
.base .base_cen .cen_two dl {
  float: left;
  margin-left: 50px;
  margin-right: 40px;
}
.base .base_cen .cen_two dl h3 {
  font-size: 14px;
  line-height: 40px;
}
.base .base_cen .cen_two dl dd {
  font-size: 12px;
  color: #999999;
  line-height: 32px;
}
.base .base_cen .cen_two .gz {
  margin-left: 90px;
}
.base .base_cen .cen_two .gz img {
  float: left;
}
.base .base_cen .cen_three .list {
  width: 720px;
  height: 50px;
  margin: 0 auto;
}
.base .base_cen .cen_three .list li {
  float: left;
  font-size: 12px;
  color: #999999;
  display: block;
  width: 80px;
  line-height: 50px;
}
.base .base_cen .cen_three .xs {
  width: 880px;
  height: 166px;
  margin: 0 auto;
}
.base .base_cen .cen_three .xs p {
  font-size: 12px;
  color: #999999;
  text-align: center;
  line-height: 25px;
}

/*# sourceMappingURL=page1.css.map */
